@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap");

html {
  font-size: 16px;
}

body {
  background-image: url(../images/pontrialto.jpg);

  font-family: "Oleo Script Swash Caps";
}

img {
  width: 100%;
}

a {
  color: rgb(202, 166, 202);
}

.elButtonRetourPagePrincipale {
  display: none;
}

@media screen and (max-width: 800px) {
  .elButtonRetourPagePrincipale {
    display: block;
  }
}
